{% comment %}
This is the full Product App vue component.
{% endcomment %}

{% capture typeslug %}
{{ product.type | downcase }}
{% endcapture %}


{% capture datafilestring %}settings-{{ product.type | downcase }}.json{% endcapture %}

{% capture productdata %}
{% include datafilestring  %}
{% endcapture %}



{% capture producthandledata %}
{% include "settings-product.json"  %}
{% endcapture %}

<div js-mount-vue="ProductApp"  class="c-product-app"
     prop-productid="{{ product_id }}"
     prop-variantid="{{ variant_id }}"

     prop-sectionsettings='{{   settings | json }}'
     prop-productdata='{{   productdata | strip_newlines }}'
     prop-producthandledata='{{   producthandledata | strip_newlines }}'
	prop-producthandle="{{ product.handle }}"

		{% for kitmeta in current_variant.metafields.kit %}

			{% capture key %}{{ kitmeta | first }}{% endcapture %}
			{% capture value %}{{ kitmeta | last }}{% endcapture %}
			{% capture  prop %} prop-{{ kitmeta | first }}='{{ kitmeta | last }}' {% endcapture %}
			{{ prop }}

	{% endfor %}

>
</div>