{% comment %}
This is the full Product App vue component.
{% endcomment %}

{% capture typeslug %}
{{ product.type | downcase }}
{% endcapture %}

{% capture datafilestring %}settings-{{ product.type | downcase }}.json{% endcapture %}

{% capture productdata %}
{% include datafilestring  %}
{% endcapture %}

<script type="application/javascript">


</script>

<script type="application/javascript">
    window.producthandledata = {
        "yarn-for-bells-mill-cowl": {
            "subtitle": "testing",

            "variant_meta": {
                "22684022112374": {
                    "kit": [
                        {
                            "variant_id": 22589198008438,
                            "requested_quantity": 1,
                            "message": "PDF Download"
                        },
                        {
                            "variant_id": 22589225468022,
                            "title": "Cresheim Creek",
                            "requested_quantity": 1,
                            "message": "Color A",
                            "editable_variant": true
                        },
                        {
                            "variant_id": 22589225304182,
                            "title": "Brook Trout",
                            "requested_quantity": 1,
                            "message": "Color B",
                            "editable_variant": true

                        }
                    ]

                },
                "22589191225462": {
                    "kit": [{
                        "variant_id": 22589225468022,
                        "title": "Cresheim Creek",
                        "requested_quantity": 1,
                        "message": "Color A"
                    },
                        {
                            "variant_id": 22589225304182,
                            "title": "Brook Trout",
                            "requested_quantity": 1,
                            "message": "Color B"
                        }
                    ]
                },

                "22589191192694": {
                    "kit": [{
                        "variant_id": 22589225861238,
                        "title": "Northern Cardinal",
                        "requested_quantity": 1,
                        "message": "Color A"
                    },
                        {
                            "variant_id": 22589225435254,
                            "title": "Cooper's Hawk",
                            "requested_quantity": 34,
                            "message": "Color B"
                        }
                    ]
                },

                "22589191159926": {
                    "kit": [{
                        "variant_id": 22589225697398,
                        "title": "Juneberry",
                        "requested_quantity": 1,
                        "message": "Color A"
                    },
                        {
                            "variant_id": 22589226123382,
                            "title": "Silver Maple",
                            "requested_quantity": 1,
                            "message": "Color B"
                        }
                    ]
                },
                "22589191127158": {
                    "kit": [{
                        "variant_id": 22589226319990,
                        "title": "Wineberry",
                        "requested_quantity": 1,
                        "message": "Color A"
                    },
                        {
                            "variant_id": 22589225173110,
                            "title": "Arrowgrass",
                            "requested_quantity": 1,
                            "message": "Color B"
                        }
                    ]
                },

                "22589191094390": {
                    "kit": [
                        {
                            "variant_id": 22589198008438,
                            "requested_quantity": 1,
                            "message": "PDF Download"
                        }, {
                            "variant_id": 22589225369718,
                            "title": "Bull Thistle",
                            "requested_quantity": 25,
                            "message": "Color A"
                        },
                        {
                            "variant_id": 22589226254454,
                            "title": "Watermill",
                            "requested_quantity": 1,
                            "message": "Color B"
                        }
                    ]
                },

                "22589191061622": {
                    "kit": [
                        {
                            "variant_id": 22589198008438,
                            "requested_quantity": 1,
                            "message": "PDF Download"
                        },
                        {
                            "variant_id": 22589225762934,
                            "title": "Meadow Violet",
                            "requested_quantity": 1,
                            "message": "Color A"
                        },
                        {
                            "variant_id": 22589225992310,
                            "title": "Pearly Mussel",
                            "requested_quantity": 1,
                            "message": "Color B"
                        }
                    ]
                },
                "22589191028854": {
                    "kit": [
                        {
                            "variant_id": 22589198008438,
                            "requested_quantity": 1,
                            "message": "PDF Download"
                        },
                        {
                            "variant_id": 22589225205878,
                            "title": "Barn Owl",
                            "requested_quantity": 1,
                            "message": "Color A"
                        },
                        {
                            "variant_id": 22589226352758,
                            "title": "Wood Dove",
                            "requested_quantity": 1,
                            "message": "Color B"
                        }
                    ]
                },
                "22589190996086": {
                    "kit": [{
                        "variant_id": 22589226025078,
                        "title": "Porcupine",
                        "requested_quantity": 1,
                        "message": "Color A",
                        "quantity_editable": true,
                        "editable_variant": true
                    },
                        {
                            "variant_id": 22589225959542,
                            "title": "Pasture Rose",
                            "requested_quantity": 1,
                            "message": "Color B",
                            "quantity_editable": true,

                            "editable_variant": true

                        }
                    ]
                }
            }
        },
        "local": {
            "subtitle": "This is local"
        },
        "andorra-wrap": {
            "recc_yarn": "classic-worsted",
            "recc_kit": "yarn-for-andorra-wrap",
            "notforsale": true,
            "download": {
                "ravelry": "https://www.ravelry.com/patterns/library/anika-6"
            }
        }
    };
</script>



<div js-mount-vue="ProductApp"  class="c-product-app"
     prop-productid="{{ product_id }}"
     prop-product={{  product | json }}
     prop-variantid="{{ variant_id }}"
     prop-sectionsettings='{{   sectionsettings | json }}'
     prop-productdata='{{   productdata | strip_newlines }}'
     prop-producthandledata='{{   producthandledata | strip_newlines }}'
	prop-producthandle="{{ product.handle }}"


>
</div>