{% comment %}
This is the full Product App vue component.
{% endcomment %}

{% capture typeslug %}
{{ product.type | downcase }}
{% endcapture %}

<h1>size: {{  product.variants | size }}</h1>

{%- capture product_type_defaults -%}
    {% include 'settings-product-type-defaults'  %}
{%- endcapture -%}

{%- capture product_handle_defaults -%}
    {% include 'settings-product-handle-defaults'  %}
{%- endcapture -%}

 {%- capture variant_admin_api_data -%}
    [
   {% for variant in product.variants %}
      { "inventory_policy" : "{{variant.inventory_policy  }}",
     "inventory_management": "{{variant.inventory_management  }}",
     "inventory_quantity" :{{variant.inventory_quantity  }} } {% if forloop.last == false %},{% endif %}
    {% endfor %}
   ]
{%- endcapture -%}

<div js-mount-vue="ProductApp"  class="c-product-app"
     prop.productid="{{ product_id }}"
     prop.variantid="{{ variant_id }}"
     prop.sectionsettings='{{   sectionsettings | json }}'
     prop.product='{{ product | json |strip_newlines | escape  }}'
     prop.defaults.product.variants='{{- variant_admin_api_data|  remove: " " | remove: "    " | strip_newlines -}}'
     prop.defaults.producttype='{{ product_type_defaults | escape | strip_newlines }}'
     prop.defaults.producthandle='{{ product_handle_defaults | escape | strip_newlines }}'
     prop.testprefix.datatest.2 = "data2!!!!"
     prop.testprefix.datatest.3 = "data3!!!!"


></div>