{% comment %}
This is the full Product App vue component.
{% endcomment %}




<div js-mount-vue="ProductApp"  class="c-product-app"
     prop-productid="{{ product_id }}"
     prop-variantid="{{ variant_id }}"
     prop-product_option_meta='{{ product_meta.optionmeta.option | strip_newlines }}'
     prop-product_option_value_meta='{{ product_meta.optionmeta.optionvalue | strip_newlines }}'
     prop-sectionsettings='{{   settings | json }}'

		{% if product_meta.productdata.subtitle %}
     prop-subtitle="{{ product_meta.productdata.subtitle }}"
		{% endif %}

		{% for kitmeta in current_variant.metafields.kit %}

			{% capture key %}{{ kitmeta | first }}{% endcapture %}
			{% capture value %}{{ kitmeta | last }}{% endcapture %}
			{% capture  prop %} prop-{{ kitmeta | first }}='{{ kitmeta | last }}' {% endcapture %}
			{{ prop }}

		{% endfor %}

></div>


