<header class="{{ menu_name }}" role="banner">

	<div class="{{ menu_name }}__wrapper">
		<div class="{{ menu_name }}__col">
			<div class="{{ menu_name }}__mobile-nav-trigger">
				<button type="button" class="icon-fallback-text site-nav__link site-nav__link--burger js-drawer-open-button-left" aria-controls="NavDrawer">
					<div class="c-button c-button--accent-primary --rounded  padding--sm ">
						<div class="c-button__icon">
							{% include 'svg-definitions' with 'burger' %}
						</div>
					</div>
					<span class="fallback-text">{{ 'general.drawers.navigation' | t }}</span>
				</button>
			</div>

		</div>
		<div class="{{ menu_name }}__col">
			<div class="{{ menu_name }}__logo">
				<a href="/" itemprop="url"
				   class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
					<div alt="{{ shop.name }}" class="Owool_Logo_SVG">
						{% include 'svg-definitions' with 'owool-logo' %}
					</div>
				</a>
			</div>
		</div>
		<div class="{{ menu_name }}__col col__final">
			<div class="{{ menu_name }}__cart cart-link js-drawer-open-button-right" aria-controls="CartDrawer">
				<div class="{{ menu_name }}__cart-icon">
					{% include 'c-ui-icon' with icon_name: 'cart' ,style_modifier: 'accent-primary' , flags: header_flags__cart %}
				</div>

			</div>
			<div class="{{ menu_name }}__cart-item-count">
				<div class="{{ menu_name }}__cart-item-count {% if cart.item_count > 0 %} --active{% endif %}">
					<div js-mount-vue="CartIndicator"></div>
				</div>
			</div>
			<div class="{{ menu_name }}__search">
				{% include 'search-bar', input_style_modifier: 'accent-primary' ,button_style_modifier: 'accent-primary', search_bar_location: 'search-bar--header' %}
			</div>
		</div>

	</div>

	<div class="{{ menu_name }}__divider">
		{% include 'c-divider'   with  style_modifier: header_style_modifier__divider %}
	</div>
</header>