<header class="{{ menu_name }}" role="banner">

	<div class="{{ menu_name }}__wrapper">
		<div class="{{ menu_name }}__logo">
			<a href="/" itemprop="url"
			   class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
				<div alt="{{ shop.name }}" class="Owool_Logo_SVG">
					{% include 'svg-definitions' with 'owool-logo' %}
				</div>
			</a>
		</div>
		<div class="{{ menu_name }}__meta">
			<div class="{{ menu_name }}__search" >
				{% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--header', searchplaceholder: ' ',input_flags: '',button_flags:' --no-border' %}
			</div>

			<div class="{{ menu_name }}__social">
				{% include 'c-social-nav-links' with social_nav_theme : header_style_modifier__social %}
			</div>


			{% if shop.customer_accounts_enabled %}
				<div class="{{ menu_name }}__customer">
					{% if customer %}
						<div class="{{ menu_name }}__customer-account">
							{% if customer.first_name != blank %}
								{% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
								{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
							{% else %}
								<a href="/account">{{ 'layout.customer.account' | t }}</a>
							{% endif %}
						</div>
						<div class="{{ menu_name }}__customer-logout">
							{{ 'layout.customer.log_out' | t | customer_logout_link }}
						</div>
					{% else %}
						<div class="{{ menu_name }}__customer-login">
							{{ 'layout.customer.log_in' | t | customer_login_link }}
						</div>
						<div class="{{ menu_name }}__customer-create">
							{{ 'layout.customer.create_account' | t | customer_register_link }}
						</div>
					{% endif %}
				</div>
			{% endif %}

			<div js-mount-vue="CartIndicator"></div>

		</div>

		{% include 'header.menu' %}
	</div>

	<div class="{{ menu_name }}__divider">
		{% include 'c-divider'   with  style_modifier: header_style_modifier__divider %}
	</div>
</header>
